# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\03-Code\01-Demo\Quartz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
